.projects{
   
    display: flex;
    flex-direction: column;
    background-image: url("https://getwallpapers.com/wallpaper/full/5/5/2/805461-free-download-neon-light-background-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.projects h1{
    /* text-align: center; */
    font-size: 5vw;
    color: #ffff;
    margin: 5%  0  1% 10%;
}

.projects h1 a img{

    width: 3vw;

}




.projects p {
    color: #ffff;
    margin: 0 0 3% 10%;

}

.list-projects{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    margin:  0 auto;
    width: 100%;
}

.card-project{
    width: 25%;
    height: 25%;
    margin: 2%;
    background: rgba(14, 6, 6, 0.25);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 5px;
    overflow: hidden;
    display: flex;
}

.card-link{
    display: none;
    top: 22%;
    left: 25%;
    text-decoration: none;
    color: #ffff;
    position: absolute;
}


.card-link2{
    display: none;
    top: 30%;
    left: 55%;
    text-decoration: none;
    color: #ffff;
    position: absolute;

}

.card-project:hover::before{
    content: "";
    color: green;
    position: absolute;
    width:100%;
    height: 100%;
    backdrop-filter: blur(5px);
    text-align: center;
    align-items: center; 
}



.card-project:hover .card-link{
    display: block;
}
.card-project:hover .card-link2{
    display: block;
}




.card-project img{
    width: 100%;
    height: 100% !important;
}


@media screen and (max-width: 768px){
    .list-projects{
        flex-direction: column;

    }

    .card-project{
        width: 90%;
        height: 20%;


        margin: 2%;
        background: rgba(14, 6, 6, 0.25);
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 5px;
        overflow: hidden;
    }
    

}