.about{
    height: 100vh;
    
    width: 100%;
    display: flex;
    justify-content: center;
    
    /* border-bottom: solid 1px black; */
    background-color:#c9932e;
}

.card-about{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color:#c9932e;
    overflow: hidden;
}


.about-text{
    width: 30%;
    margin: 2% 0 0 0% ;
    display: flex;
    flex-direction: column;
    
 
    
}

.about-text h1 {
    color: #ffff;
    font-size: 5vw;
    text-align: center;
    
}
.about-text p{
    color: #ffff;
    text-align: center;
    font-size: 1.5vw;
}
/* .about-image{
    width: 30%;
    height: 53%;
    display: flex;
    border-radius: 50%;
    position: relative;
    left: 10%;
    top:10%;
    overflow: hidden;
    background-color: #e2dedb;
} */

.mifoto{

    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.about-images{
    width: 50%;
 
   display: flex;
   justify-content: center;
   align-items: center;
}

.about-images div{
    
    height: 50%;
    width: 50%;
  
    
}
.about-images div img{
    width:50%;
}




@media screen and (max-width: 768px){

    .about-text{
        width: 90%;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        
     
        
    }
    .about-text p{
        color: #ffff;
        text-align: center;
        font-size: 5vw;
    }
}